{{#each posts}}
    <div>
    <p>Post ID: {{id}}</p>
    <p>Post Title: {{title}}</p>
    </div>
{{/each}}

{{#each posts as |post|}}
    <div>
    <p>Post ID: {{post.id}}</p>
    <p>Post Title: {{post.title}}</p>
    </div>
{{/each}}
