{{#each posts}}
    <div>
        <p>Post ID: {{dataValues.id}}</p>
        <p>Post Title: {{dataValues.title}}</p>
        <p>Post: {{dataValues.post_content}}</p>
        <p>Author: {{dataValues.User.dataValues.username}}</p>
    </div>
{{/each}}

